/* ====================================
// css variables
// ==================================== */

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  color: #dc2e55;
  background-color: #15172b;
  font-size: 18px;
  font-family: "Playfair Display", serif;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

div {
  padding: 17px;
}

textarea {
  max-width: 445px;
  max-height: 150px;
  min-width: 445px;
  min-height: 150px;
  background-color: #303245;
  border: none;
  border-radius: 10px;
}

input {
  background-color: #303245;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-family: "Playfair Display", serif;
  font-size: 18px;
}

.country select {
  background-color: #303245;
  border: none;
  padding: 10px;
  color: #65657a;
  border-radius: 10px;
}

button {
  background-color: #0088dd;
  border: none;
  color: white;
  font-family: "Playfair Display", serif;
  padding: 15px 189px;
  margin-left: 17px;
  font-size: 18px;
  border-radius: 10px;
}
